@import '../variables/variables';

// ----- Main Content
main {
  margin: ($s-header + 72px) auto auto auto;
  max-width: $xlarge;

  .control-wrapper {
    display: flex;
    height: calc(100vh - #{$s-header});
    position: fixed;
    top: $s-header;
    width: 100%;
    z-index: 900;
  }

  .controls.tags {
    min-height: 50px;
    overflow-y: scroll;
    width: 100%;
  }

  .entries {
    display: flex;
    flex-direction: column;
  }

  // MQ Small
  @include breakpoint(small) {
    display: flex;
    margin-top: $s-header;

    .control-wrapper {
      @include columns(4);

      .controls.tags {
        height: 100%;
        order: 1;
      }
    }

    .entries {
      @include columns(8);
      @include columns(4, margin-left);
      order: 3;
    }
  }

  // MQ Medium
  @include breakpoint(medium) {
    .control-wrapper {
      @include columns(3);
    }

    .entries {
      @include columns(9);
      @include columns(3, margin-left);
    }
  }

  // MQ xLarge
  @include breakpoint(xlarge) {
    .control-wrapper {
      width: 200px;
    }

    .entries {
      margin-left: 200px;
    }
  }
}
