@import '../../variables/variables';

// ----- Entries
.entry {
  background: $c-light;
  box-shadow: 0 2px 6px 0 rgba($c-dark, 0.15);
  margin: 0 $gutter $gutter $gutter;
  position: relative;

  &.claimed {
    background: $c-background;

    .title {
      background-color: rgba($c-primary, 0.45);
      margin-top: 0;
      padding-right: 80px;

      &::after {
        content: 'Claimed';
        right: 15px;
        position: absolute;
        top: 15px;
      }
    }

    .desc {
      display: none;
    }
  }

  .title {
    align-items: stretch;
    background-color: $c-primary;
    color: $c-light;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    margin-top: 15px;
    padding: 0 10px;
  }

  .desc {
    padding: 10px;

    .notes {
      color: $c-secondary;
      font-size: 11px;
      font-style: italic;
      padding-bottom: 1em;
    }
  }

  @include breakpoint(small) {
    margin: $gutter $gutter;

    .title {
      padding-right: 160px;
    }

    .images {
      width: 60%;

      .img {
        @include columns(6);
        display: inline-block;
        padding-left: 5px;
        padding-bottom: 5px;

        &:nth-child(even) {
          padding-left: 0;
          padding-right: 5px;
        }

        &.first {
          @include columns(12);
          padding: 0 0 5px 0;
        }
      }
    }

    .desc {
      display: flex;
    }

    .content {
      margin-left: 5%;
      width: 35%;
    }
  }
}
