@import '../../variables/variables';

// ----- Rating
.rating {
  display: flex;
  margin: 10px 10px 0 10px;

  svg {
    height: 26px;
    margin-top: 4px;
    width: 26px;

    polygon {
      fill: $c-primary;
    }

    &.no {
      height: 24px;
      margin: 5px 1px 1px 1px;
      width: 24px;

      polygon {
        fill: $c-light;
        stroke: $c-secondary;
        stroke-width: 1px;
      }
    }
  }

  @include breakpoint(small) {
    position: absolute;
    right: 10px;
    top: 15px;

    svg {
      polygon {
        fill: $c-light;
      }

      &.no {
        polygon {
          fill: lighten($c-primary, 10%);
          stroke: lighten($c-primary, 10%);
        }
      }
    }
  }
}
