@import '../../variables/variables';

// ----- To Top
a.totop {
  display: none;
  height: 72px;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: 0 2px 4px rgba($c-dark, 0.45);
  top: 0;
  width: 72px;

  &:link,
  &:active,
  &:visited {
    color: $c-light;
  }

  &:hover,
  &:focus {
    color: $c-secondary;
  }

  &::before {
    content: '▲';
    display: block;
    margin-top: 14px;
  }

  @include breakpoint(small) {
    background-image: $c-gr-accent;
  }
}
